header {
    padding-top: 10px;
    background-color: #fafafa;
    overflow: hidden;
}

header .container {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 1;
}

header .container .bg-image {
    width: 600px;
    height: 600px;
    position: absolute;
    z-index: -1;
    bottom: -250px;
    right: -160px;
}

header .container .bg-image img {
    width: 100%;
}


/* ------------------------ Header Left Side Start */
header .container .left-side {
    width: 50%;
}

header .container .left-side .title {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #000;
}

header .container .left-side .title span {
    color: var(--mainBlue);
}

header .container .left-side p {
    margin: 40px 0 50px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #000;
}

header .container .left-side .buttons {
    display: flex;
    gap: 40px;
}

header .container .left-side .buttons button {
    border-radius: 10px;
    border: 2px solid var(--extraBlue);
    padding: 5px 30px;
    max-width: 200px;
    font-size: 26px;
    line-height: 38px;
    text-align: center;
    cursor: pointer;
    transition: 0.15s linear;
}

header .container .left-side .buttons button:first-of-type {
    background-color: var(--extraBlue);
    color: #fff;
}

header .container .left-side .buttons button:first-of-type:hover {
    background-color: #fff;
    color: #000;
}

header .container .left-side .buttons button:last-of-type {
    background-color: #fff;
    color: #000;
}

header .container .left-side .buttons button:last-of-type:hover {
    background-color: var(--extraBlue);
    color: #fff;
}

/* ------------------------ Header Left Side End */



/* ------------------------ Header Right Side Start */
header .container .right-side {
    width: 50%;
}

header .container .right-side .absolute-image {
    display: none;
}

header .container .right-side .proud-boy img {
    width: 150%;
    margin-left: -32%;
    margin-bottom: -5px;
}

/* ------------------------ Header Right Side End */







/* ----------------------Media Queries------------------------ */
@media screen and (max-width: 767px) {
    header {
        padding-top: 10px;
        background-color: #fff;
        overflow: visible;
    }

    header .container {
        flex-direction: column-reverse;
        position: inherit;
    }

    header .container .bg-image {
        display: none;
    }

    header .container .bg-image img {
        width: 100%;
    }


    /* ------------------------ Header Left Side Start */
    header .container .left-side {
        padding-top: 40px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .container .left-side .title {
        font-size: 18px;
        line-height: 25px;
    }

    header .container .left-side p {
        margin: 20px 0 30px 0;
        font-size: 16px;
        line-height: 20px;
    }

    header .container .left-side .buttons {
        gap: 20px;
    }

    header .container .left-side .buttons button {
        padding: 5px 15px;
        max-width: 140px;
        font-size: 14px;
        line-height: 20px;
        border-radius: 5px;
    }

    /* ------------------------ Header Left Side End */


    /* ------------------------ Header Right Side Start */
    header .container .right-side {
        width: 100%;
        padding: 40px 0 0;
        position: relative;
        overflow-y: hidden;
        z-index: 0;
    }

    header .container .right-side .absolute-image {
        display: block;
        width: 100%;
        position: absolute;
        bottom: -50%;
        z-index: -1;
    }

    header .container .right-side .proud-boy img {
        width: 100%;
        margin-left: 0;
        margin-bottom: -3px;
    }
    /* ------------------------ Header Right Side End */
}