.big-nav {
    padding: 16px 0;
    background-color: var(--mainBlue);
}

.big-nav .container {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
}

.big-nav .container ul {
    display: flex;
    list-style-type: none;
    gap: 25px;
}

.big-nav .container ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 29px;
    display: flex;
    align-items: center;
    color: #fff;
    padding: 10px 0;
    box-sizing: content-box;
    border-top: 2px solid var(--mainBlue);
    border-bottom: 2px solid var(--mainBlue);
    transition: 0.15s linear;
}

.big-nav .container ul li a:hover {
    border-bottom: 2px solid #fff;
}

.big-nav .container .button {
    max-width: 270px;
    border-radius: 5px;
    cursor: pointer;
}

.big-nav .container .button {
    padding: 10px 25px;
    text-decoration: none;
    color: #000;
    border: 2px solid var(--mainBlue);
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.15s linear;
}


.big-nav .container .button:hover {
    border: 2px solid #fff;
    background-color: var(--mainBlue);
    color: #fff;
}

.little-nav {
    display: none;
}

.little-menu {
    display: none;
}




/* -------------------Media Queries-------------------- */
@media screen and (max-width: 767px) {
    .big-nav {
        display: none;
    }

    .little-nav {
        display: block;
        padding: 6px 0;
    }

    .little-nav .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .little-nav .container .for-logo {
        width: 86px;
        display: flex;
        align-items: center;
    }

    .little-nav .container .for-logo img {
        width: 100%;
    }

    .little-nav .container .icons {
        display: flex;
        gap: 15px;
    }

    .little-nav .container .icons .icon {
        cursor: pointer;
    }

    .little-menu {
        display: block;
        background-color: var(--mainBlue);
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        padding: 6px 0;
        height: 100vh;
        overflow-y: auto;
        transition: 0.2s ease-in-out;
    }

    .little-menu .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .little-menu .container .for-logo {
        width: 86px;
        display: flex;
        align-items: center;
    }

    .little-menu .container .for-logo img {
        width: 100%;
    }

    .little-menu .container .icon {
        cursor: pointer;
        margin-right: 6px;
    }

    .little-menu .links {
        margin-top: 43px;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    .little-menu .links a {
        text-decoration: none;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        display: flex;
        align-items: center;
        color: #fff;
    }

    .open {
        visibility: visible;
        opacity: 1;
    }

    .close {
        visibility: hidden;
        opacity: 0;
    }
}